/* formatting tabs sectio selected tab, unselected ones, common design */
.tabs {
    border: 1px solid #cccccc;
    display: flex;
}

.tabs__sidebar {
    width: 160px;
    flex-shrink: 0;
    background: #cccccc;
}

.tabs__button {
    display: block;
    padding: 15px;
    background: #eeeeee;
    border: none;
    width: 100%;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #dddddd;
    cursor: pointer;
    border-right: 1px solid #238be0;
    color: #06477c;
}

.tabs__button:active {
    background: #c5c5c5;
}

.tabs__button:not {
    border-bottom: 1px solid #cccccc;
}

.tabs__button--active {
    font-weight: bold;
    color: #06477c;
    border-right: 3px solid #238be0;
    background: #cfcfcf;
}

.tabs__content {
    padding: 15px;
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__content > :first-child {
    margin-top: 0;
}

/* Common styles for text boxes and buttons in index.html */
.input_text {
    background-color: rgb(240, 240, 240); 
    height: 20px; 
    border:0.5px solid #06477c;
}

.calcButtons { 
    color: #06477c; 
    height: 25px;
}

/* for dynamically created div. will help to hide and show */
.hidden{
    display: none;
}

.problem{
    display: none;
}

.active{
    display: block;
}
